Repository Buy-European-Made/buy-european-made.eu, changes with the owners that .github/CODEOWNERS names for each.
All owners: @louis-vinchon, @lawlez, @fedmag

sets text color to black
  src/blocks/FAQ/accordion/Accordion.tsx
Owners: @lawlez

changes db name and uses company registration country if producedIn is missing
  src/app/(frontend)/[slug]/page.tsx
  src/collections/Categories.ts
  src/endpoints/seed/db.json
  src/endpoints/seed/seeder.ts
  src/payload-types.ts
Owners: @lawlez

adds support for cloudbeaver
  docker-compose.local.yml
Owners: @fedmag

chore: add typography components
  src/components/ui/typography.tsx
Owners: @lawlez

feat: add TeamBlock with config
  src/blocks/RenderBlocks.tsx
  src/blocks/Team/Component.tsx
  src/blocks/Team/config.ts
  src/collections/Pages/index.ts
  src/payload-types.ts
  src/payload.config.ts
Owners: @lawlez

assigns default size
  src/endpoints/seed/seeder.ts
Owners: @lawlez

adds readme instructions
  README.md
Owners: @fedmag

feat: add stats block with config
  src/blocks/RenderBlocks.tsx
  src/blocks/Stats/Component.tsx
  src/blocks/Stats/config.ts
  src/collections/Pages/index.ts
  src/payload-types.ts
Owners: @lawlez

chore: make dynamic Icon component
  src/blocks/Stats/Component.tsx
  src/components/Icon/index.tsx
Owners: @lawlez

feat: make product count stat dynamic
  src/blocks/Stats/Component.tsx
  src/blocks/Stats/config.ts
  src/payload-types.ts
Owners: @lawlez

chore: fix linting errors and formatting
  src/app/(frontend)/countries/[slug]/page.tsx
  src/app/(frontend)/eu-products/[slug]/page.tsx
  src/blocks/FAQ/Component.tsx
  src/blocks/FAQ/accordion/Accordion.tsx
  src/blocks/Form/Component.tsx
  src/blocks/ProductList/Component.tsx
  src/blocks/ProductList/config.ts
  src/blocks/RenderBlocks.tsx
  src/collections/Brands/index.ts
  src/collections/Companies/index.ts
  src/collections/EuProducts/index.ts
  src/collections/Pages/index.ts
  src/components/RichText/index.tsx
  src/components/SearchInput/index.tsx
  src/endpoints/seed/index.ts
  src/endpoints/seed/products.ts
  src/heros/InputHero/InputHero.tsx
  src/payload-types.ts
Owners: @lawlez

adds new card and grid for product list
  src/blocks/ProductList/Component.tsx
  src/blocks/ProductList/product/Component.tsx
Owners: @lawlez

adds conditional rendering
  src/blocks/ProductList/product/Component.tsx
Owners: @lawlez

simplify component
  src/app/(frontend)/eu-products/[slug]/page.tsx
  src/blocks/ProductList/product/Component.tsx
Owners: @lawlez

modify upload res to prevent image warnings
  src/endpoints/seed/seeder.ts
Owners: @lawlez

optimize imports
  src/blocks/ProductList/product/Component.tsx
Owners: @lawlez

feat: add pre-psuh hooks
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Owners: @fedmag

chore: apply formatting fixes
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labels.yml
  CONTRIBUTING.md
  SECURITY.md
  docker-compose.local.yml
  next-sitemap.config.cjs
  src/app/(frontend)/companies/[slug]/page.tsx
  src/app/(payload)/admin/importMap.js
  src/blocks/FAQ/config.ts
  src/blocks/ProductList/product/Component.tsx
  src/collections/Countries/index.ts
  src/collections/ReplacedProducts/index.ts
  src/collections/Subcategories.ts
  src/components/Link/index.tsx
  src/heros/RenderHero.tsx
  src/utilities/generateMeta.ts
Owners: @fedmag, @lawlez

chore: update docs
  CONTRIBUTING.md
Owners: @fedmag

chore: update prettier ignore
  .prettierignore
Owners: @fedmag

feat: add lint-staged
  .husky/pre-commit
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Owners: @fedmag

adds reusable badge component
  src/blocks/ProductList/product/Component.tsx
  src/components/ui/badge.tsx
Owners: @lawlez

fix responsive design?
  src/blocks/ProductList/Component.tsx
Owners: @lawlez

remove logs
  src/app/(frontend)/eu-products/[slug]/page.tsx
Owners: @lawlez

fix icon size
  src/blocks/ProductList/product/Component.tsx
Owners: @lawlez

fix badge usage
  src/blocks/ProductList/product/Component.tsx
  src/components/ui/badge.tsx
Owners: @lawlez

fix product name responsiveness
  src/blocks/ProductList/product/Component.tsx
Owners: @lawlez

polish
  src/blocks/ProductList/product/Component.tsx
Owners: @lawlez

first commit
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/blocks/HighlightBlock/Component.tsx
  src/blocks/HighlightBlock/config.ts
  src/blocks/HighlightBlock/elements/Component.tsx
  src/blocks/RenderBlocks.tsx
  src/collections/Pages/index.ts
  src/components/ui/carousel.tsx
  src/payload-types.ts
Owners: @fedmag, @lawlez

adds articles collection and hides elements in admin panel depending on selected value
  src/blocks/HighlightBlock/config.ts
  src/collections/Articles/index.ts
  src/payload-types.ts
  src/payload.config.ts
Owners: @lawlez

adds summary, sizes and fixes layout
  src/blocks/HighlightBlock/Component.tsx
  src/blocks/HighlightBlock/config.ts
  src/blocks/HighlightBlock/elements/Component.tsx
  src/collections/Articles/index.ts
  src/payload-types.ts
Owners: @lawlez

docs: Add troubleshooting instructions for Husky
  CONTRIBUTING.md
Owners: @fedmag

feat: Add localization to more collections / fields
  src/collections/Categories.ts
  src/collections/Countries/index.ts
  src/collections/EuProducts/index.ts
  src/collections/Media.ts
  src/collections/ReplacedProducts/index.ts
Owners: @lawlez

Messy example
  src/Globals/CountryPage/Component.tsx
  src/Globals/CountryPage/config.ts
  src/app/(frontend)/countries/[slug]/page.tsx
  src/blocks/CountryDescriptionBlock/Component.tsx
  src/blocks/CountryDescriptionBlock/config.ts
  src/blocks/RenderBlocks.tsx
  src/collections/Countries/index.ts
  src/payload-types.ts
  src/payload.config.ts
  src/utilities/generatePreviewPath.ts
Owners: @lawlez

Adding tab cards block
  src/app/(frontend)/globals.css
  src/blocks/RenderBlocks.tsx
  src/blocks/TabCards/Component.tsx
  src/blocks/TabCards/config.ts
  src/collections/Pages/index.ts
  src/payload-types.ts
  tailwind.config.mjs
Owners: @lawlez, @fedmag

Fixing colors
  src/blocks/TabCards/Component.tsx
  tailwind.config.mjs
Owners: @lawlez, @fedmag

Fix: Add TabCards component and update config and payload types
  src/blocks/TabCards/Component.tsx
  src/blocks/TabCards/config.ts
Owners: @lawlez

Fix: Add TabCards component and update config and payload types
  src/blocks/TabCards/config.ts
Owners: @lawlez

fix: generated types.
  src/payload-types.ts
Owners: @lawlez

chore: code formatting.
  src/app/(frontend)/globals.css
  src/blocks/RenderBlocks.tsx
  src/blocks/TabCards/Component.tsx
  src/blocks/TabCards/config.ts
  src/collections/Pages/index.ts
  tailwind.config.mjs
Owners: @lawlez, @fedmag

.github/CODEOWNERS:

# Global owner for the repository
*       @louis-vinchon
*       @lawlez
*       @fedmag
/src/    @lawlez
