Repository Buy-European-Made/buy-european-made.eu, changes with the owners that .github/CODEOWNERS names for each.
All owners: @louis-vinchon, @lawlez, @fedmag

.github/CODEOWNERS:

# Global owner for the repository
*       @louis-vinchon
*       @lawlez
*       @fedmag
/src/    @lawlez

adds tags, shows replaced prod title in the admin panel
  src/app/(frontend)/eu-products/[slug]/page.tsx
  src/collections/EuProducts/index.ts
  src/collections/ReplacedProducts/index.ts
  src/collections/Tags.ts
  src/payload.config.ts
Owners: @lawlez

list of replaced products
  src/app/(frontend)/eu-products/[slug]/page.tsx
Owners: @lawlez

adds country entity and country endpoint
  src/app/(frontend)/country/[slug]/page.tsx
  src/collections/Countries/index.ts
Owners: @lawlez

adds flag and relationships
  src/collections/Countries/index.ts
  src/collections/Products/index.ts
  src/payload.config.ts
Owners: @lawlez

review changes
  package-lock.json
  src/app/(frontend)/eu-products/[slug]/page.tsx
  src/collections/EuProducts/index.ts
  src/endpoints/seed/index.ts
  src/fields/slug/index.ts
  src/payload.config.ts
  tsconfig.json
Owners: @fedmag, @lawlez

adds subcategories
  src/collections/EuProducts/index.ts
  src/collections/Subcategories.ts
  src/payload.config.ts
Owners: @lawlez

redesigned eu-product page
  src/app/(frontend)/eu-products/[slug]/page.tsx
Owners: @lawlez

removes generic products, adds some elements to the card
  src/app/(frontend)/eu-products/[slug]/page.tsx
  src/collections/Categories.ts
  src/collections/Products/index.ts
  src/collections/Tags.ts
  src/payload.config.ts
Owners: @lawlez

fix: remove leftover mentions to the posts collection and the search generated collection
  src/Header/Nav/index.tsx
  src/app/(frontend)/(sitemaps)/pages-sitemap.xml/route.ts
  src/app/(payload)/admin/importMap.js
  src/components/PayloadRedirects/index.tsx
  src/endpoints/seed/index.ts
  src/endpoints/seed/products-page.ts
  src/heros/PostHero/index.tsx
  src/payload-types.ts
  src/plugins/index.ts
  src/search/Component.tsx
  src/search/beforeSync.ts
  src/search/fieldOverrides.ts
  src/utilities/generateMeta.ts
Owners: @lawlez

adds countries
  src/app/(frontend)/countries/[slug]/page.tsx
  src/collections/Countries/index.ts
  src/collections/EuProducts/index.ts
  src/payload-types.ts
  src/payload.config.ts
Owners: @lawlez

feat: adds support for companies and brands
  src/collections/Brands/index.ts
  src/collections/Companies/index.ts
  src/collections/EuProducts/index.ts
  src/payload-types.ts
  src/payload.config.ts
Owners: @lawlez

adds page
  src/app/(frontend)/companies/[slug]/page.tsx
Owners: @lawlez

adds page and relationship depth
  src/app/(frontend)/companies/[slug]/page.tsx
  src/collections/Brands/index.ts
  src/collections/Companies/index.ts
  src/collections/EuProducts/index.ts
Owners: @lawlez

feat/Update the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @fedmag

fix: seeding issues introduced with collections changes
  src/endpoints/seed/index.ts
Owners: @lawlez

update
  src/payload-types.ts
  src/payload.config.ts
Owners: @lawlez

fix: the slug field
  src/collections/Categories.ts
  src/collections/EuProducts/index.ts
  src/collections/Pages/index.ts
  src/collections/Subcategories.ts
  src/collections/Tags.ts
  src/fields/slug/index.ts
Owners: @lawlez

adds tabs to euProducts
  src/collections/EuProducts/index.ts
Owners: @lawlez

adds filter for subcategories
  src/collections/Categories.ts
  src/collections/EuProducts/index.ts
  src/collections/Subcategories.ts
  src/payload-types.ts
Owners: @lawlez

adding faq block
  src/blocks/FAQ/Component.tsx
  src/blocks/FAQ/accordion/Accordion.tsx
  src/blocks/FAQ/config.ts
  src/blocks/RenderBlocks.tsx
  src/collections/Pages/index.ts
  src/payload-types.ts
Owners: @lawlez

first commit
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/app/(frontend)/next/seed/route.ts
  src/collections/EuProducts/index.ts
  src/endpoints/seed/seedScript/db.json
  src/endpoints/seed/seedScript/seeder.ts
  src/payload-types.ts
  src/plugins/index.ts
Owners: @fedmag, @lawlez

.gitignore update
  .gitignore
Owners: @fedmag

creates seed functions
  src/endpoints/seed/seedScript/seeder.ts
Owners: @lawlez

comments
  src/endpoints/seed/seedScript/seeder.ts
Owners: @lawlez

improves seeding of european products
  src/collections/EuProducts/index.ts
  src/endpoints/seed/seedScript/seeder.ts
Owners: @lawlez

fixing styles
  src/blocks/FAQ/Component.tsx
  src/blocks/FAQ/accordion/Accordion.tsx
Owners: @lawlez

Adding tab cards block
  src/app/(frontend)/globals.css
  src/blocks/RenderBlocks.tsx
  src/blocks/TabCards/Component.tsx
  src/blocks/TabCards/config.ts
  src/collections/Pages/index.ts
  src/payload-types.ts
  tailwind.config.mjs
Owners: @lawlez, @fedmag

same subcategory can belong to many main categories, unique constraint on eu-product name
  src/collections/ReplacedProducts/index.ts
  src/collections/Subcategories.ts
  src/payload-types.ts
Owners: @lawlez

adds subcategories
  src/endpoints/seed/seedScript/seeder.ts
Owners: @lawlez

adds logo upload
  src/collections/EuProducts/index.ts
  src/endpoints/seed/seedScript/seeder.ts
Owners: @lawlez

adds links
  src/endpoints/seed/seedScript/seeder.ts
Owners: @lawlez

removes unused packages
  package-lock.json
  package.json
Owners: @fedmag

removes previous files and updates name
  src/app/(frontend)/next/seed/route.ts
  src/endpoints/seed/contact-form.ts
  src/endpoints/seed/contact-page.ts
  src/endpoints/seed/gogLogo.ts
  src/endpoints/seed/home-static.ts
  src/endpoints/seed/home.ts
  src/endpoints/seed/image-1.ts
  src/endpoints/seed/image-2.ts
  src/endpoints/seed/image-3.ts
  src/endpoints/seed/image-hero-1.ts
  src/endpoints/seed/image-hero1.webp
  src/endpoints/seed/index.ts
  src/endpoints/seed/products-page.ts
  src/endpoints/seed/products.ts
  src/endpoints/seed/seedScript/seeder.ts
Owners: @lawlez

fix logo url
  src/endpoints/seed/seedScript/db.json
Owners: @lawlez

clean code
  src/endpoints/seed/seedScript/seeder.ts
Owners: @lawlez

Adding hero block
  src/blocks/Hero/Component.tsx
  src/blocks/Hero/config.ts
  src/blocks/Hero/searchInput/SearchInput.tsx
  src/blocks/RenderBlocks.tsx
  src/collections/Pages/index.ts
  src/payload-types.ts
Owners: @lawlez

adds logs
  src/endpoints/seed/seedScript/seeder.ts
Owners: @lawlez

Adding block into a hero section
  src/blocks/Hero/Component.tsx
  src/blocks/Hero/config.ts
  src/blocks/RenderBlocks.tsx
  src/collections/Pages/index.ts
  src/components/SearchInput/index.tsx
  src/heros/InputHero/InputHero.tsx
  src/heros/RenderHero.tsx
  src/heros/config.ts
  src/payload-types.ts
Owners: @lawlez

Fixing colors
  src/blocks/TabCards/Component.tsx
  tailwind.config.mjs
Owners: @lawlez, @fedmag

adds more advanced seeding
  src/app/(frontend)/next/seed/route.ts
  src/collections/EuProducts/index.ts
  src/collections/Subcategories.ts
  src/endpoints/seed/contact-form.ts
  src/endpoints/seed/contact-page.ts
  src/endpoints/seed/db.json
  src/endpoints/seed/gogLogo.ts
  src/endpoints/seed/home-static.ts
  src/endpoints/seed/home.ts
  src/endpoints/seed/image-1.ts
  src/endpoints/seed/image-2.ts
  src/endpoints/seed/image-3.ts
  src/endpoints/seed/image-hero-1.ts
  src/endpoints/seed/image-hero1.webp
  src/endpoints/seed/index.ts
  src/endpoints/seed/products-page.ts
  src/endpoints/seed/products.ts
  src/endpoints/seed/seeder.ts
  src/payload-types.ts
Owners: @lawlez
