Repository Buy-European-Made/buy-european-made.eu, changes with the owners that .github/CODEOWNERS names for each.
All owners: @louis-vinchon, @lawlez, @fedmag

fix: small issues with possibly undefined properties.
  src/blocks/TabCards/Component.tsx
  src/blocks/TabCards/config.ts
  src/payload-types.ts
Owners: @lawlez

chore: Update all packages.
  package.json
  pnpm-lock.yaml
Owners: @fedmag

fix: Dockerfile issues
  Dockerfile
Owners: @fedmag

fix: next config issue for production builds
  next.config.js
Owners: @fedmag

fix: peer dependency issues
  package.json
  pnpm-lock.yaml
Owners: @fedmag

chore: remove unused files.
  package-lock.json
Owners: @fedmag

docs: Update the documentation.
  CONTRIBUTING.md
  README.md
Owners: @fedmag

adds options for size and number of images that must be shwon
  src/blocks/HighlightBlock/Component.tsx
  src/blocks/HighlightBlock/config.ts
  src/blocks/HighlightBlock/elements/Component.tsx
  src/payload-types.ts
Owners: @lawlez

fixes merge conflicts
  src/blocks/RenderBlocks.tsx
  src/collections/Pages/index.ts
  src/payload-types.ts
Owners: @lawlez

changes required fields
  src/collections/EuProducts/index.ts
Owners: @lawlez

fixes required fields, type errors and increases maximum number of elements to 8
  src/blocks/HighlightBlock/Component.tsx
  src/blocks/HighlightBlock/config.ts
  src/blocks/HighlightBlock/elements/Component.tsx
Owners: @lawlez

adds link
  src/blocks/HighlightBlock/elements/Component.tsx
  src/payload-types.ts
Owners: @lawlez

adds else if
  src/blocks/HighlightBlock/Component.tsx
Owners: @lawlez

fixes seeding
  src/endpoints/seed/seeder.ts
Owners: @lawlez

adds rounded corners
  src/blocks/HighlightBlock/elements/Component.tsx
Owners: @lawlez

refactors code
  src/app/(payload)/admin/importMap.js
  src/blocks/HighlightBlock/Component.tsx
Owners: @lawlez

adjust width
  src/blocks/HighlightBlock/elements/Component.tsx
Owners: @lawlez

adjust dark colors
  src/blocks/HighlightBlock/elements/Component.tsx
Owners: @lawlez

formatting and types
  src/blocks/HighlightBlock/Component.tsx
  src/blocks/HighlightBlock/config.ts
  src/blocks/HighlightBlock/elements/Component.tsx
Owners: @lawlez

formatting
  src/components/ui/badge.tsx
  src/components/ui/carousel.tsx
Owners: @lawlez

formatting
  src/blocks/HighlightBlock/Component.tsx
Owners: @lawlez

draft: product list with search using nuqs
  package.json
  pnpm-lock.yaml
  src/app/(frontend)/[slug]/page.tsx
  src/app/(frontend)/eu-products/route.ts
  src/app/(frontend)/searchParams.ts
  src/blocks/ProductList/Component.tsx
  src/blocks/ProductList/product/Component.tsx
  src/blocks/ProductList/product/ProductList.client.tsx
  src/blocks/RenderBlocks.tsx
  src/components/SearchInput/index.tsx
  src/components/ui/skeleton.tsx
  src/providers/index.tsx
Owners: @fedmag, @lawlez

align with code review
  src/blocks/HighlightBlock/Component.tsx
  src/blocks/HighlightBlock/elements/Component.tsx
Owners: @lawlez

first commit
  src/app/(payload)/admin/importMap.js
  src/blocks/BentoGrid/Component.tsx
  src/blocks/BentoGrid/config.ts
  src/blocks/RenderBlocks.tsx
  src/collections/Pages/index.ts
  src/payload-types.ts
Owners: @lawlez

adds new logo
  src/components/Logo/Logo.tsx
  src/components/Logo/goEuropeanLogo.svg
Owners: @lawlez

merge conflicts
  pnpm-lock.yaml
  src/collections/EuProducts/index.ts
  src/payload-types.ts
Owners: @fedmag, @lawlez

Update Component.tsx
  src/blocks/HighlightBlock/elements/Component.tsx
Owners: @lawlez

creates overall shape, improves config.ts by adding a main component
  src/app/(payload)/admin/importMap.js
  src/blocks/BentoGrid/Component.tsx
  src/blocks/BentoGrid/config.ts
  src/payload-types.ts
Owners: @lawlez

responsive design, bgImages and links have been added
  src/blocks/BentoGrid/Component.tsx
  src/blocks/BentoGrid/config.ts
  src/payload-types.ts
Owners: @lawlez

hide font color if not bg is selected, modularize components
  src/blocks/BentoGrid/Component.tsx
  src/blocks/BentoGrid/config.ts
  src/blocks/BentoGrid/elements/MainElement.tsx
  src/blocks/BentoGrid/elements/SecondaryElement.tsx
  src/payload-types.ts
Owners: @lawlez

cleans code
  src/blocks/BentoGrid/Component.tsx
  src/blocks/BentoGrid/elements/BentoElement.tsx
  src/blocks/BentoGrid/elements/MainElement.tsx
  src/blocks/BentoGrid/elements/SecondaryElement.tsx
Owners: @lawlez

fixes font size and text overflow, removes unused component
  src/blocks/BentoGrid/Component.tsx
  src/blocks/BentoGrid/config.ts
  src/blocks/BentoGrid/elements/BentoElement.tsx
Owners: @lawlez

fixes type errors
  src/blocks/BentoGrid/Component.tsx
Owners: @lawlez

WIP
  package.json
  src/payload-types.ts
  src/plugins/index.ts
Owners: @fedmag, @lawlez

WIP
  pnpm-lock.yaml
  src/app/(payload)/admin/importMap.js
  src/payload-types.ts
  src/plugins/index.ts
Owners: @fedmag, @lawlez

fixes conflict on type
  src/payload-types.ts
Owners: @lawlez

chore: simplify Dockerfile
  Dockerfile
Owners: @fedmag

chore: remove unused lockfile
  package-lock.json
Owners: @fedmag

docs: update the documentation
  README.md
Owners: @fedmag

chore: linting fix
  src/app/(payload)/admin/importMap.js
  src/collections/Articles/index.ts
  src/endpoints/seed/seeder.ts
Owners: @lawlez

.github/CODEOWNERS:

# Global owner for the repository
*       @louis-vinchon
*       @lawlez
*       @fedmag
/src/    @lawlez
